extends layout2

block content	
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')		
	script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js')
	script.
		$(function(){
			$("#datetimepicker2").datetimepicker({
				format: 'YYYY-MM-DD HH:mm'
			});
		});
	include header	
	.container-fluid
		.row
			include menu			
			.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main				
				.row.placeholders					
				h2.sub-header 펌웨어
				div
					-if(uclass=="1")
						button.btn.btn-default(data-target='#layerpop', data-toggle='modal') File upload
					-else
					
					br
					#layerpop.modal.fade
						.modal-dialog
							.modal-content
								// header
								.modal-header
									// 닫기(x) 버튼
									button.close(type='button', data-dismiss='modal') ×
									// header title
									h4.modal-title 파일 업로드
								// body
								.modal-body
									form(method='POST', action='upload' , enctype="multipart/form-data")										
									h5.text-center 파일 업로드는 지정된 경로에만 가능합니다.
										table#tblGrid.table.table-striped
											tbody(align="left")
												tr
													th 파일선택
													td
														input(type="file",name='upfile' id="upfile")
												tr
													th 업데이트 타입
													td
														input(type="radio", name="update_type" value="개별적")
														| 개별적
														input(type="radio", name="update_type" value="일괄적")
														| 일괄적														
												tr
													th 업데이트 노드 타입
													td
														div#collective(style="display:none;")
															select(style="width:100%;")
																option 노드 타입 선택
																option(value="온도 센서") 온도 센서
																option(value="습도 센서") 습도 센서
																option(value="CO2 센서") CO2 센서
																option(value="가속도 센서") 가속도 센서
														div#singly
															select(style="width:70%;")
																option 게이트웨이 선택
															select(style="width:28%;")
																option 노드 선택
												tr
													th 업데이트 노드 리스트
													td
														div#node-list
															select(multiple="multiple" style="width:100%;")
												tr
													th 업데이트 일시
													td
														div#datetimepicker2.input-group.date
															input.form-control(type='text')
															span.input-group-addon
																span.glyphicon.glyphicon-calendar									
								div(style="clear:both;")
				.table-responsive(style="clear:both;")
					table.table.table-striped
						thead
							tr
								th Filename
								th Size
								th Date
								th
						tbody
							form(method='POST', action='/download/fileDown' , name='downloadForm')
								input(type='hidden',name='path' , id='fileValue')
							-if(totalfile.length==0)
								tr
									td(colspan="4")
										a(href="/firmware")
											span.glyphicon.glyphicon-folder-open &nbsp;	
							-else
								-for(var i in totalfile)
									tr
										-if(totalfile[i].filetype=='directory')
											td
												a(href="javascript:alert('폴더 이동은 제한되어 있습니다.')")
													span.glyphicon.glyphicon-folder-open &nbsp;#{totalfile[i].filename}											
										-else
											td 
												a(href="javascript:downloadAsPost('#{filepath}/#{totalfile[i].filename}');") #{totalfile[i].filename}
											td= totalfile[i].size
											td= totalfile[i].birthtime
											td															
												-if(uclass=="1")
													-if(!(totalfile[i].filename.split(".")[1]=="xml" || totalfile[i].filename.split(".")[1]=="json"))
														button.btn.btn-primary(type='button' onclick="createMOandDD('#{totalfile[i].filename}','#{totalfile[i].birthtime}')") MO,DD 생성(json)													
														button.btn.btn-primary(type='button' onclick="createMOandDD2('#{totalfile[i].filename}','#{totalfile[i].birthtime}')") MO,DD 생성(xml)
													button.btn.btn-danger(type='button' onclick="deleteProc('#{totalfile[i].filename}')") 삭제